form
{
    border:2px solid black ;
    border-radius: 4px;
    position:fixed;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    margin-left: 750px;
    margin-bottom: 100px;
    margin-top: 80px;
    width: 400px;
}
input{
    border-radius: 5px;
    background-color: rgb(238, 238, 157);
    width: 300px;
    margin: 20px;
    padding: 10px;
}
div
{
    text-align: center;
}
label
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: seashell;
}
input.submit
{
    background-color: rgb(2, 73, 8);
    color: rgb(236, 226, 226);
}