{% extends 'basic/nav.html' %}
<br> <br>
{% block content %}
<br> <br> <br> <br> <br>
    <div style="border: 3px solid black; background-color: rgba(0,0,0,0.7);">
        <h1 style=" text-align: center; color: #ffffcc; font-size: 40px; font-weight: bold; font-family: 'Ink Free' " >Welcome In Wassalny Site </h1>
        <h3 style="text-align: center; color: #ffffcc; font-size: 40px; font-weight: bold; font-family: 'Ink Free'">Where you can book your railway trip to anywhere in Egypt</h3>
        <h5 style="text-align: center; color: #ffffcc; font-size: 40px; font-weight: bold; font-family: 'Ink Free';">
            What are you waiting For Make your Wallet and Book your Trip Now ;)</h5>
    </div>


{% endblock content %}
