<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="border: 3px solid black; background-color: rgba(0,0,0,0.7)" >
<p style="color: #ffffcc; font-weight: bold; font-size: 20px; font-family: 'Droid Sans'" >
    Wassalny is a web site where you can book your railway trip to anywhere in Egypt, you recommended to sign up an account here
    to get benefits of bunch of things that you will really like it as the following:
    Here we are providing a good trains which you can see once you have account on Wassalny,
    also providing trips to everywhere in Egypt and really comfortable seats which you will hope that the trip would never end
    you can choose your seat to book the seat, but before this step you need to make a new wallet for you to confirm payment of the seat.
    We are waiting for you Signup or Login Now :)
</p>
    </div>
</body>
</html>