{% extends "user/index.html" %}
{% load crispy_forms_tags %}
{% block start %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <style>
            #P{

                font-size: 17px;
                background-color:rgba(0,0,0,0.5);
                color:white;
            }

        </style>
    </head>
    <body>
    <div class="content-section col-md-8 col-md-offset-2" id="P">
        <center>
            <form method="POST" style="margin: 4%; padding:10%; border-radius:1%;">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{form|crispy}}
                </fieldset>
                <center>
                    <button style="background: black; font-size: 2rem; padding:1%;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-log-in"></span> &nbsp; login</button>
                </center>
                <br/>
                <sub style="text-align: left;"><a href="{% url 'register' %}" style="text-decoration: none; color: blue; padding:2%; cursor:pointer; margin-right:2%;">don't have account,sign up</a></sub>
            </form>
        </center>
    </div>
    </body>
    </html>
{% endblock start %}